@*@model FirstCore.Models.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@



<div class="text-center">
    <h2 class="display-4">
        Dependency Injection Lifetime
    </h2>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>First Instance Operation ID</th>
            <th>Second Instance Operation ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="background-color: darksalmon">
                Transient
            </td>
            <td style="background-color: darksalmon">
                @ViewBag.t1
            </td>
            <td style="background-color: darksalmon">
                @ViewBag.t2
            </td>
        </tr>
        <tr>
            <td>Scoped</td>
            <td>@ViewBag.s1</td>
            <td>@ViewBag.s2</td>
        </tr>
        <tr>
            <td style="background-color: aquamarine">
                Singleton
            </td>
            <td style="background-color: aquamarine">
                @ViewBag.single1
            </td>
            <td style="background-color: aquamarine">
                @ViewBag.single2
            </td>
        </tr>
    </tbody>
</table>  